<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h2>Вход в аккаунт</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Имя:</label><br>
        {{ form.username }}<br>

        <label for="id_password">Пароль:</label><br>
        {{ form.password }}<br>

        <button type="submit" style="margin-top: 10px;">Войти</button>
    </form>

    <p>Нет аккаунта? <a href="{% url 'sign_up' %}">Зарегистрируйтесь здесь</a>.</p>
</body>
</html>